@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 0.75rem 1.5rem;
  background-color: #ff3366; /* Customize the color */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e6005c; /* Customize the hover color */
}
